     h1      {
                    color: rgb(0,0,0);
                    font-family: Georgia, Times, serif;
                    font-size: 2em;
                    text-align: center;
                }
                
        h2      {
                    color: rgb(10,50,100);
                    font-family: Georgia, Times, serif;
                    font-size: 1.25em;
                    text-transform: uppercase;
                }
        p       {
                    color: rgb(0,0,0);
                    font-family: arial, verdana, sans-serif;
                    font-size: 1em;
                    text-align: justify;
                    text-indent: 20px;
                }
                
        ul       {
                    color: rgb(0,0,0);
                    font-family: arial, verdana, sans-serif;
                    font-size: 1em;
                    text-align: justify;
                    text-indent: 20px;
                    list-style-type: square;
                }
        #footer {
                    font-family: arial, verdana, sans-serif;
                    font-size: 1em;
                    text-decoration: overline;
                    text-align: center;
                }
        .smaller{
                    font-size: .65em;    
                }
        